<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css">
    <title>Budgtr Index Page</title>
</head>
<body>
    <h1>Budgtr ALL</h1>
    <a href="/budget/new"> <button>Add New Budget</button></a>
    <div class="container"></div>
    <table>      
        <% for(let i = 0; i < Budget.length; i++) { %>
            <tr> 
                <td><%= Budget[i].date %></td>
                <td>
                    <!-- whatever is in href will be put directly in the url -->
                <a href="/budget/<%= i %>">  
                    <%= Budget[i].name %> 
                </a>
                </td>
                <td><%= Budget[i].amount %></td>
            </tr> 

        <% } %> 
        
    </table>

</body>
</html>